<h1>Business DASHBOARD</h1>
<div class="error-message">
    <h2>{{error_message}}</h2>
</div>
<div class="row">
	<label>Name of Item:</label><input type="text" ng-model="addItem.item">
    <label>Image of Item:</label><input type="text" ng-model="addItem.image">
	<button class="btn waves-effect waves-light" type="button" name="button" ng-click="submit()">Add Item</button>
</div>
<div class="all-items">
    <div class="the-items" ng-if="items" ng-repeat="i in items">
        <img src="{{i.image}}" ng-click="addCount(i._id)">
        <p>{{i.item}}<p>
    </div>
</div>
<button ng-show="currentuser" class="btn waves-effect waves-light" type="button" name="button" ng-click="logOut()">Log Out</button>
