.all-items {
    display: block;
}
.all-items p {
    text-align: center;
    color: white;
    font-size: 16px;
}
.all-items button {
    margin-left: 10px;
    color: #EE6E73;
}
.all-items img {
    width: 200px;
    height: 200px;
    cursor: pointer;

}
.the-items {
    display: inline-block;
    margin-right: 40px;
}
.error-message {
    color: red;
    text-align: center;
}
.tabs{
    text-align: center;
}
html {
    background: url(https://images4.alphacoders.com/594/594600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.tabs .indicator {
    background-color: white !important;
}
.input-field {
    color: white;
}
#NewItem .input-field input:focus {
    border-bottom: 1px solid white !important;
}
#NewItem button{
    margin-top: 10px;
}
#map {
    margin-top: 100px;
}
h3 {
    color: white;
}
p {
    color: white;
}
h4 {
    color: white;
}
.row .input-field input:focus {
    border-bottom: 1px solid white !important;
}
#regCard {
    margin-top: 50px;
}
